<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap mp">
  <Identity
    Name="48299TRW.XBSX2"
    Publisher="CN=TheRhysWyrill"
    Version="22.8.11.0" />
  <mp:PhoneIdentity PhoneProductId="af1930fc-45f3-4e75-a159-415ae9877655" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>XBSX2</DisplayName>
    <PublisherDisplayName>TRW</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PCSX2.App">
      <uap:VisualElements DisplayName="PCSX2" Description="A project for a C++/WinRT Universal Windows Platform (UWP) app directly implementing CoreApplication"
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:DefaultTile Square71x71Logo="Assets\SmallTile.png" Wide310x150Logo="Assets\WideTile.png" Square310x310Logo="Assets\LargeTile.png"/>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="codeGeneration"/>
    <uap:Capability Name="removableStorage"/>
    <rescap:Capability Name="expandedResources" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>